@import '../variables.scss';
.class-404{
  padding-top: 80px;
}
.class-404-title{
  font-size: 68px!important;
  line-height: $heading_1_line_height;
  text-align: center!important;
}
.class-404-subtitle{
  text-align: center!important;
}