@import '../variables.scss';
.single{
    .jb-single-title{
        color: $primary_color;
        font-size: $heading_1_font_size;
        line-height: $heading_1_line_height;
    }
    .jb-post-thumbnail{
        img{
            width: 100%;
            height: auto;
            margin-bottom: 60px;
        }
    }
    .entry-meta{
        position: relative;
        margin-top: 10px;
        padding-left: 20px;
        margin-bottom: 20px;
        a{
            color: $normal_text_color;
            line-height: $normal_line_height;
            font-size: $normal_font_size;
            &:hover{
                color: $primary_color;
            }
        }
        ul{
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            align-items: center;
            margin: 0 0 -10px -20px;
            list-style: none;
            li{
                font-size: 90%;
                margin: 0 15px 10px 0;
                color: #999;
                &::before{
                    content: '\205E';
                    width: 5px;
                    text-align: center;
                    display: inline-block;
                    margin-right: 15px;
                    opacity: .5;
                }
                &:first-child{
                    &::before{
                        display: none;
                    }
                }
            }
        }
        

    }
}