
.jbprojects-item{
	position: relative;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 28%;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 30px;
	border: 1px solid #ccc;
	.remove_image{
		position: absolute;
		right: 10px;
		top: 10px;
		color: red;
	}
}
