.jb-service-wrapper{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	.inner{
		padding: 30px;
		.title{
			padding-top: .5em;
			color: $black;
		}
		.subtitle{
			color: $grey_black;
		}
	}
}