.jb-service-wrapper{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	.inner{
		.title{
			padding-top: .5em;
			color: $black;
		}
		.subtitle{
			color: $white;
		}
		.jb-service-item{
			margin-top: 30px;
			padding: 0 20px;
			img{
				width: 60px;
				height: auto;
				margin-bottom: 15px;
			}
			.service-item-title{
				color: $primary_color;
			}
		}
	}
}