@import '../../scss/variables.scss';
.jb-team-list-wrapper{
	padding-top: $inner_padding;
	.jb-team-item-inner{
		background-color: $white;
		padding: 30px 20px;
		margin-bottom: 30px;
		.jb-team-item-image{
			width: 160px;
			border-radius: 50%;
			margin-bottom: $inner_padding;
		}
		.jb-team-item-name{
			font-size: $heading_3_font_size;
			line-height: $heading_3_font_size;
			color: $primary_color;
		}
		.jb-team-item-job-title{
			font-size:$normal_font_size;
			line-height: $normal_line_height;
			color: $secondary_color;
			font-style: italic;
			margin-bottom: 30px;
		}
		.jb-team-social-list{
			li{
				list-style-type: none;
				display: inline-block;
				margin-left: 20px;
				&:first-child{
					margin-left:0;
				}
				a{
					i{
						font-size: 24px;
						color: $normal_text_color;
						transition: all .3s;
						-webkit-transition: all .3s;
					}
					&:hover, &:visited{
						.fa-facebook-square{
							color: #0a58ca;
						}
						.fa-twitter-square{
							color: #00acee;
						}
						.fa-linkedin{
							color:#0077b5;
						}
						.fa-google-plus-square{
							color: #dd4b39;
						}
					}
				}
			}
		}
	}
}