@import '../../scss/variables.scss';
.jb-contact-left{
    float: left;
    width: 50%;
    text-align: left;
    .inner{
        padding: $inner_padding;
        i{
            color: $secondary_color;
            font-size: $heading_4_font_size;
        }
        .jb-contact-content{
            margin-left: 15px;
            color: $primary_color;
            &:hover, &:visited{
                color: $primary_color;
            }
        }
    }
}
.jb-contact-right{
    float: left;
    width: 50%;
    .inner{
        padding: $inner_padding;
        text-align: left;
        .wpforms-title{
            color: $primary_color;
            font-size: $heading_3_font_size;
            line-height: $heading_3_line_height;
        }
        .wpforms-field-label{
            color: $primary_color;
        }
        .wpforms-field-row, input{
            max-width: 100%!important;
        }
        .wpforms-submit{
            position: relative;
            background: $btn_primary_color!important;
            color: $btn_primary_text_color!important;;
            border: 1px solid $btn_primary_border_color!important;;
            border-radius: $btn_primary_radius;
            padding: 10px 15px;
            transition: 0.3s;
            min-width: 100px;
            &:hover{
                color: $btn_primary_text_hover_color!important;
                border: 1px solid $btn_primary_border_hover_color!important;
                background: $btn_primary_hover_color!important;
            }
        }
    }
}
.contact-title{
    text-align: left;
}
.jb-contact-label{
    display: none;
}