.jb-testimonial-list-wrapper{
	background: rgba(255,255,255,0.85);
	padding: $section_padding;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 30px;
	.jb-testimonial-item{
		.testimonial-item-content{
			padding-bottom: $inner_padding;
			color: $primary_color;
		}
		.testimonial-item-name{
			font-size: $heading_3_font_size;
			color: $primary_color;
			margin-top: $inner_padding;
			margin-bottom: 0;
		}
		.testimonial-job-title{
			color: $primary_color;
		}
		.testimonial-image-wrapper{
			text-align: center;
			.testimonial-image{
				width: 80px;
				height: 80px;
				display: initial;
				border-radius: 50%;
			}
		}
	}
	.slick-dots{
		bottom: $inner_padding;
		left: 0;
		li{
			margin: 0;
		}
	}
}