@import './variables.scss';
#site-footer{
    .main-footer{
        background: linear-gradient(45deg, #232A35, #0B0A11);
        color: $white;
        padding: 60px 0;
        
    }
    .small-footer{
        background: linear-gradient(45deg, #232A35, #0B0A11);
        color: $white;
        padding: 25px 0;
        border-top: 1px solid $secondary_color; 
        .jb-small-footer-right{
            text-align: right;
        }
    }
    .widget-content{
        .widget-title{
            font-size: $heading_3_font_size;
            color: $secondary_color;
            position: relative;
            padding-bottom: 10px;
            &::after{
                content: '';
                width: 50px;
                height: 2px; 
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: $secondary_color;
            }
        }
        ul,li{
            list-style-type: none;
            padding: 5px 0;
            a{
                color: $white;
                &:hover{
                    color: $secondary_color;
                }

            }
        }
    }
}

   