@import './variables';
.admin-bar{
	.site-header{
		top: 32px;
	}
}
.site-header{
	height: 80px;
	width:100%;
	display:flex;
	align-items: center;
	position: fixed;
	top: 0;
	z-index:9999;
	background: $white;
    -webkit-transition: 300ms all cubic-bezier(.4,0,.2,1);
    transition: 300ms all cubic-bezier(.4,0,.2,1);
	border-bottom: 1px solid rgba(255,255,255,.15);
	.site-logo{
		width: 10%;
		float:left;
		margin: 0;
	    opacity: 1;
	    -webkit-transition: 300ms all cubic-bezier(.4,0,.2,1);
	    transition: 300ms all cubic-bezier(.4,0,.2,1);
	    max-height: 80px;
	    padding-left:1rem;
	}
	.white-logo{
		display: block;
	}
	.custom-logo{
		display: none;
	}
	.primary-navigation{
		width: 90%;
		float:left;
		.navbar-toggler{
			right: 20px;
			position: absolute;
		}
		.menu-item{
			position: relative;
			&.menu-item-has-children{
				&::after{
				content: '';
				display: inline-block;
				width: 9px;
				height: 9px;
				overflow: hidden;
				border: 1px solid $menu_link_color;
				border-top: 1px solid transparent;
				border-left: 1px solid transparent;
				position: relative;
				left: -10px;
				-ms-transform: rotate(45deg);
				transform: rotate(
			45deg
			);
				transition: all .3s ease-out;
				box-sizing: border-box;
				z-index: 9;
				}
				&:hover{
					&::after{
						left: -10px;
						-ms-transform: rotate(-135deg);
						transform: rotate(
						-135deg
						);
						border: 1px solid $menu_primary_link_color;
						border-left-color: transparent;
						border-top-color: transparent;
						
					}
				}

			}
			a{
				padding: 30px 24px;
			    color: $menu_link_color;
			    height: 80px; 
			    -webkit-transition: 300ms all cubic-bezier(.4,0,.2,1);
			    transition: 300ms all cubic-bezier(.4,0,.2,1);
			    text-decoration: none;
				text-transform: uppercase;
				font-weight: 500;
			    &:hover{
			    	color: $menu_link_hover_color;
			    }
		    }
			.sub-menu{
				display: none;
				position: absolute;
				background-color:$white;
				min-width: 160px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 3;
				a{
					float: none;
					color: $menu_primary_link_color;
					padding: 12px 16px;
					text-decoration: none;
					display: block;
					text-align: left;
					&:hover{
						color: $menu_primary_link_hover_color;
					}
				}
				.menu-item{
					position: relative;
					&.menu-item-has-children{
						&::after{
							left: 85%;
							top: 45%;
							position: absolute;
							border: 1px solid $menu_primary_link_color;
							border-top: 1px solid transparent;
							border-left: 1px solid transparent;
	
						}
						&:hover{
							&::after{
								z-index: 9;
							}
						}
					}
					.sub-menu{
						position: absolute;
						top: 0;
						left: 100%;
						z-index: -1;
					}
				}
			}
			&:hover{
				>.sub-menu{
					display: block;
					top: 49px;
					.menu-item{
						list-style-type: none;
						&:hover{
							background-color: $secondary_color;
							color: $white;
						}
						a{
							height: auto;
						}
					}
				}
			}
		}
	}
	&.fixed-header{
    	background: $white;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    	transition: 0.3s;
		.white-logo{
			display: none;
		}
		.custom-logo{
			display: block;
		}
		.primary-navigation{
			.menu-item{
				a{
					color: $menu_primary_link_color;
					&:hover{
						color: $menu_primary_link_hover_color;
					}
				}
				&.menu-item-has-children{
					&::after{
						border: 1px solid $menu_primary_link_color;
						border-top: 1px solid transparent;
						border-left: 1px solid transparent;
					}
				}
				.sub-menu{
					.menu-item{
						a{
							&:hover{
								color: $menu_primary_link_color;
							}
						}
					}
				}
			}
		}
    }
	&:not(.fixed-header){
		.sub-menu{
			background-color: $white;
			.menu-item{
				color: $menu_primary_link_color;
				&:hover{
					color: $menu_primary_link_hover_color;
				}
				a{
					color: $menu_primary_link_color;
					&:hover{
						color: $menu_primary_link_hover_color;
					}
				
				}
			}
		}
	}
}
.home{
	.site-header{
		background-color: transparent;
		&.fixed-header{
			background-color: $white;
		}
	}
}