@import './variables';
.admin-bar{
	.site-header{
		top: 32px;
	}
}
.site-header{
	height: 80px;
	width:100%;
	display:flex;
	align-items: center;
	position: fixed;
	top: 0;
	z-index:9999;
	background: $white;
    -webkit-transition: 300ms all cubic-bezier(.4,0,.2,1);
    transition: 300ms all cubic-bezier(.4,0,.2,1);
	border-bottom: 1px solid rgba(255,255,255,.15);
	.site-logo{
		width: auto;
		float:left;
		margin: 0;
	    opacity: 1;
	    -webkit-transition: 300ms all cubic-bezier(.4,0,.2,1);
	    transition: 300ms all cubic-bezier(.4,0,.2,1);
	    max-height: 80px;
	    padding-left:1rem;
      display: flex;
	}
	.white-logo{
		display: block;
	}
  .logo-link{
    visibility: visible;
    width: 100%;
    height: auto;
    opacity: 1;
  }
  .custom-logo-link{
		opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
	}
  .primary-navigation{
		width: 90%;
		float:left;
    .navbar-toggler{
			right: 20px;
			position: absolute;
		}
		.menu-item{
			position: relative;
      list-style-type: none;
      a{
				padding: 30px 35px;
			  color: $menu_link_color;
			  height: 80px; 
			  -webkit-transition: 300ms all cubic-bezier(.4,0,.2,1);
			  transition: 300ms all cubic-bezier(.4,0,.2,1);
			  text-decoration: none;
				text-transform: uppercase;
				font-weight: 500;
        &:hover{
          color: $menu_link_hover_color;

        }
		  }
      .sub-menu-toggle{
        background: transparent;
        border: 0;
        color: $white;
        position: absolute;
        z-index: 99;
        right: 0px;
        top: 0;
        transition: all .5s;
        &[aria-expanded="true"]{
          transform: rotate(180deg);
        }
      }
      .sub-menu{
        opacity: 0;
        visibility: hidden;
        height: 0;
        width: 0;
        position: absolute;
        z-index: -1;
        background-color:$white;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      }
      &:hover{
        >.sub-menu-toggle{
          transform: rotate(180deg);
        }
      }
    }
  }
  &.fixed-header{
    .custom-logo-link{
      visibility: visible;
      opacity: 1;
      width: 100%;
      height: auto;
    }
    .logo-link{
      visibility: hidden;
      opacity: 0;
      width: 0;
      height: 0;
    }
    .menu-item{
      a{
        color: $menu_primary_link_color;
        &:hover, &:focus{
          color: $menu_link_hover_color;
        }
      }
      &.menu-item-has-children{
        .sub-menu-toggle{
          color: $menu_primary_link_color;
          &:hover{
            color: $menu_link_hover_color;
          }
        }
        .sub-menu{
          .menu-item{
            padding: 10px 0;
            text-align: left;
            .sub-menu-toggle{
              top: 50%;
              transform: translateY(-50%);
            }
            a{
              padding: 0 15px;
              display: block;
              width: 100%;
              height: auto;
            }
          }
        }
        .active{
          top: 49px;
          opacity: 1;
          z-index: 3;
          height: auto;
          visibility: visible;
          width: 100%;
          min-width: 160px;
        }
        &:hover, &:focus{
          >.sub-menu{
            top: 49px;
            opacity: 1;
            z-index: 3;
            height: auto;
            visibility: visible;
            width: 100%;
            min-width: 160px;
          }
        }

        .menu-item{
          >.sub-menu{
            left: 20%;
            top:100%;
          }
          &:hover{
            >.sub-menu-toggle{
              top: 50%;
              transform: translateY(-50%) rotate(180deg);
            }
          }
          .sub-menu-toggle{
            &[aria-expanded="true"]{
              transform: translateY(-50%) rotate(180deg);
            }
          }
        }
      }
    }
  }
}
.home{
	.site-header{
		background-color: transparent;
		&.fixed-header{
			background-color: $white;
		}
	}
}