@import './variables.scss';
@media only screen and (max-width: 768px) {
    .site-header{
        &:not(.fixed-header){
            .navbar-toggler{
                border: 1px solid $white;
            }
        }
        .primary-navigation{
            width: 100%;
            position: absolute;
            .navbar-toggler{
                right: 20px;
                position: absolute;
            }
            .navbar-collapse{
                position: absolute;
                top: 48px;
                background-color: $white;
                width :100%;
                left: 0;
                border: 1px solid rgba(0,0,0,0.1);
                .menu-item{
                    padding-top: 15px;
                    a{
                        color: rgba(0,0,0,0.8);
                    }
                    &:last-child{
                        padding-bottom: 15px;
                    }
                    &.menu-item-has-children{
                        &::after{
                            border: 1px solid $menu_primary_link_color;
                            border-top: 1px solid transparent;
                            border-left: 1px solid transparent;
                        }
                    }
                    &:hover{
                        .sub-menu{
                            z-index: 10;
                        }
                    }
                }
            }
        }
    }
    
}